<!doctype html>

<title>Build Sets</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<body>
    {% block setlists %}
        <h1>Build & Edits Song Lists</h1>
        <h2>Sets</h2>
        <select>
            {% for set in sets %}
                <option id="{{ set['set_id'] }}">{{ set['set_date'] }}</option>
            {% endfor %}
        </select>

        <button>go</button>
        <button>new</button>


        {% block the_set%}
            <div id = 'the_set'>
                {% for song in songs_in_this_set %}
                    <li id="{{ song['song_id'] }}">
                        {{ song['song_name'] }}
                        <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" >
                            <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
                        </a>
                    </li>
                {% endfor %}
            </div>
        {% endblock%}
        <button>save</button>
        <button>publish</button>
    {% endblock %}

    {% block allsongs %}
    <h2>Songs</h2>
    <a href=" {{ url_for('editsong', the_song_id = 99999999) }}">
        <span class = 'button'>New Song</span>
    </a>
    <br>
    <input value="search"></input>
    <ul>
        {% for song in songs %}
        <li id="{{ song['song_id'] }}">
            {{ song['song_name'] }}
            <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" >
                 <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
            </a>

        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>