<!doctype html>

<title>Build Sets</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Lato&display=swap" rel="stylesheet">

<!-- <script type="text/javascript" src="{{ url_for('static', filename='DragDropTouch.js')}}"></script> --> 
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    <div id="outer-wrapper">
    {% block setlists %}
        <h1>Build & Edit Song Lists</h1>

        <div id = 'outer_set_div'>
        <h2>Sets</h2>
    
        <form id='set-selection' name="set_selection" method='POST' action="{{ url_for('changeset') }}" enctype="multipart/form-data">
    
            <select id = 'set_selector' name="set_selector">
                {% for set in sets %}
                    <option 
                            id="{{ set['set_id'] }}" 
                            value="{{ set['set_id'] }}"
                            {% if set['set_id'] == selected_set %}
                                selected
                            {% endif %}
                    >
                        {{ set['set_date'] }}
                    </option>
                {% endfor %}
            </select>

            <input type = 'submit' id="goto-different-set-button" value = 'go'>
        </form>

        <button id = 'newsetbutton2'>new</button>
        <div class="ui-modal" id = 'newsetpicker'>
             <form name="newset" method="POST" enctype="multipart/form-data"
              action="{{ url_for('newset') }}">
                 <input type="date"  id="newset_date" name="newset_date">
                 <input type="submit" value ='new'>
             </form>
        </div>

    <div id="message"   class="status-indicator">{{ msg }}</div>

    {% endblock %}


    {% block the_set%}
            <div id = 'the_set'>
                {% for song in songs_in_this_set %}
                    <li id="{{ song['song_id'] }}">
                        {{ song['song_name'] }}
                        <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" class="edit_song_button">
                            <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
                        </a>
                    </li>
                {% endfor %}
            </div>
        <a href = {{ url_for('publish_set', the_set_id = selected_set)  }} class = 'btn'>
            <span >publish</span>
            <!-- <img src = {{ url_for('static', filename = 'publish-set.png') }}> --> 
        </a>
		<a href='http://barnchurch.space/worship' class="btn"><span >your hymnal</span></a>
    {% endblock%}
    </div>



    <div id = 'outer_songs_div'>
    {% block allsongs %}
    <h2>Songs</h2>
    <br>
    <input type="text" placeholder="search" onkeyup="filterSongs()" id="songsearch">
    <a href=" {{ url_for('editsong', the_song_id = 99999999) }}" class="btn" id="new_song_btn">
        <span class = 'button'>new</span>
    </a>
    <ul id="all_songs">
        {% for song in songs %}
                <li id="{{ song['song_id'] }}" draggable="true">
                    {{ song['song_name'] }}
                    <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" class="edit_song_button">
                        <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
                    </a>
                </li>
        {% endfor %}
    </ul>
    {% endblock %}
    </div>
</div>
</body>



