<!doctype html>

<title>Build Sets</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>


<!-- <script type="text/javascript" src="{{ url_for('static', filename='DragDropTouch.js')}}"></script> --> 


<body>
    {% block setlists %}
        <h1>Build & Edits Song Lists</h1>
        <h2>Sets</h2>
    
        <form name="set_selection" method='POST' action="{{ url_for('changeset') }}" enctype="multipart/form-data">
    
            <select id = 'set_selector' name="set_selector">
                {% for set in sets %}
                    <option 
                            id="{{ set['set_id'] }}" 
                            value="{{ set['set_id'] }}"
                            {% if set['set_id'] == selected_set %}
                                selected
                            {% endif %}
                    >
                        {{ set['set_date'] }}
                    </option>
                {% endfor %}
            </select>

            <input type = 'submit' id="goto-different-set-button" value = 'go'>
        </form>


    <br>
        <img src="{{ url_for('static', filename = 'new-set.png') }}" id="newsetbutton">
        <div class="ui-modal" id = 'newsetpicker'>
             <form name="newset" method="POST" enctype="multipart/form-data"
              action="{{ url_for('newset') }}">
                 <input type="date"  id="newset_date" name="newset_date">
                 <input type="submit" value ='new'>
             </form>
        </div>


<div id="status" class="status-indicator">Saved!</div>

    {% endblock %}


    {% block the_set%}
            <div id = 'the_set'>
                {% for song in songs_in_this_set %}
                    <li id="{{ song['song_id'] }}">
                        {{ song['song_name'] }}
                        <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" >
                            <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
                        </a>
                    </li>
                {% endfor %}
            </div>
        <a href = {{ url_for('publish_set', the_set_id = selected_set)  }} >
            <img src = {{ url_for('static', filename = 'publish-set.png') }}>
        </a>
    {% endblock%}

    {% block allsongs %}
    <h2>Songs</h2>
    <a href=" {{ url_for('editsong', the_song_id = 99999999) }}">
        <span class = 'button'>New Song</span>
    </a>
    <br>
    <input type="text" placeholder="search" onkeyup="filterSongs()" id="songsearch">
    <ul id="all_songs">
        {% for song in songs %}
                <li id="{{ song['song_id'] }}" draggable="true">
                    {{ song['song_name'] }}
                    <a href = "{{ url_for('editsong', the_song_id = song['song_id'])  }}" >
                        <img class = 'edit_song' id= "edit_song_{{ song['song_id'] }}" src=" {{ url_for('static', filename = 'edit-song.png') }}">
                    </a>
                </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>



